<!--div_for creates an html class and unique id's-->
<%= div_for tweet do %>
	<div>
		<%= display_gravatar(tweet.user) %>
		<%= link_to tweet.user.username.capitalize, tweet.user %> tweeted
	</div>
	<div><%= render tweet.content %></div> 
	<div><%= link_to "#{time_ago_in_words(tweet.created_at)} ago", tweet %></div>
<% end %>