<%= form_for @tweet_composer.new_text_tweet do |form| %>
	<%= form.label :tweet %>
	<%= form.text_field :content, placeholder: 'Type your tweet here' %>
	<%= form.submit 'Tweet' %>
<% end %>
<div id='clearfix'></div>

<%= form_for @tweet_composer.new_image_tweet do |form| %>
	<%= form.label :image_tweet %>
	<%= form.file_field :image %>
	<%= form.submit 'Tweet' %>
<% end %>