<h1 id='dashboard'>Dashboard</h1>
<%#= link_to 'Compose Tweet', new_tweet_path %>
<%= link_to 'Users Directory', users_path, id: 'users_directory' %>
<%= form_for @dashboard.new_text_tweet do |form| %>
	<%= form.label :tweet %>
	<%= form.text_field :content, placeholder: 'Type your tweet here' %>
	<%= form.submit 'Tweet' %>
<% end %>
<div id='clearfix'></div>

<%= form_for @dashboard.new_image_tweet do |form| %>
	<%= form.label :image_tweet %>
	<%= form.file_field :image %>
	<%= form.submit 'Tweet' %>
<% end %>

<%= render @dashboard.timeline %>