<!DOCTYPE html>
<html>
<head>
  <title>Tweeeter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body>
	<div id='container'>
		<header>
			<div id='hdr_left'>
				<h1 id='app_name'><%= link_to 'Tweeeter', root_path %></h1>
			</div>
			<div id = 'hdr_right'>
				<ul id='user_links'>
					<% if user_signed_in? %>
						<li>
							Logged in as <%= link_to current_user.email, dashboard_path %>
						</li>
						<li>
							<%= link_to 'Edit Profile', edit_user_registration_path %>
						</li>
						<li>
							<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
						</li>
					<% else %>
						<li><%= link_to 'Register', new_user_registration_path %></li>
						<li><%= link_to 'Login', new_user_session_path %></li>
					<% end %>
				</ul>
				<div class='clearfix'></div>
				<% if user_signed_in? %>	
					<div id='search'>
						<%= form_for(:search, url: search_path, method: :get) do |form| %>
							<%= form.text_field :searchterm %>
							<%= form.submit 'Search', class: 'blue_button' %>
						<% end %> 
					</div>
				<% end %>
			</div><!--#hdr_right-->
			<div class='clearfix'></div>
			<% if user_signed_in? %>
				<nav>
					<ul>
						<li><%= link_to 'Dashboard', dashboard_path %></li>
						<li><%= link_to 'Tweet', new_tweet_path %></li>
						<li><%= link_to 'Users Directory', users_path %></li>
					</ul>
				</nav>
			<% end %>
		</header>
		<div id='main_content'>
			<% if alert %>
				<div class='alert'><%= alert %></div>
			<% end %>
			<% if notice %>
				<div class='notice'><%= notice %></div>
			<% end %>
			<%= yield %>
		</div><!--#main_content-->
	</div><!--#container-->
</body>
</html>
 